@media screen and (min-width: 992px)
.elsa-navbar {
    padding-top: .125rem;
    padding-bottom: .125rem;
}

@media screen and (min-width: 768px)
.navbar-expand-md, .navbar-expand-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
}

@media screen and (min-width: 768px)
.navbar-expand-md {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}