* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

/* #map {
    width: 100%;
    height: 300px;
} */
.reset-margin-row {
    margin-left: 0;
    margin-right: 0;
}
img {
    width: 100%;
}

.main-title {
    font-size: 40px;
    padding: 20px 0;
    font-family: 'Dancing Script', cursive;
}

.current-position {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.current__title {
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.weather__current  {}

.weather__info {}

.weather__info-top {
    padding: 10px 0;
}


.name-position{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
}

.weather__temp-min-max {
    text-align: center;
}

.weather__temp-min {
    /* padding-right: 10px; */
    position: relative;
    margin-right: 15px;
}

.weather__temp-max {
    position: relative;
}

.weather__info-middle {}

.date-current {
    padding: 7px 0;
}

.full-date {
    padding: 7px 0;
}

.weather-wind {
    padding: 7px 0;
}

.weather-wet {
    padding: 7px 0;
}

.weather__temp {
    font-size: 45px;
    font-family: 'Lato', sans-serif;
}

.weather__info-bottom  {
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 23px;
}

.weather__type {}

.tmp {
    position: absolute;
    top: -4px;
    right: -16px;
}
.t-min {
    font-size: 7px;
    position: absolute;
    top: 0px;
    right: -5px;
}
.t-max {font-size: 7px;position: absolute;top: 0px;right: -10px;}
.temp__wrap{
    position: relative;
}
.weather-temp__wrap {
    display: flex;
  align-items: center;
  justify-content: center;
}


.js-show {
    opacity: 1;
    visibility: visible;
}