/*h3.card__text {padding: 0 !important;}*/

.story_cards {
	padding: 0;
}

.story_cardFloat {
	height: 170px !important;
}

.figures_cardFloat {
	display: block !important;
}

.figures_cardFloat h3 {
	font-size: 20px !important;
}

.story_modal_content {
	width: 90% !important;
}

.story_modal_content h2 {
	font-family: "Francois One", Anton;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    /*padding: 10px 20px;*/
}

.story_w3-container {
	background-color: #e28f71 !important;
    color: #fff!important;
}

.containerContentModalStory {
	background-color: #fff;
	width: 60%;
	margin: auto;
}

	.containerContentModalStory p, .containerContentModalStory h3 {
		padding: 10px 20px;
		font-family: 'Baloo Da', cursive;
	    font-size: 20px;
	    line-height: 1.1;
	    color: #000;
	    margin-bottom: 0px !important;
	}

	.containerContentModalStory h1 {
		font-family: "Francois One", Anton;
	    font-size: 40px;
	    color: #000;
	    text-transform: uppercase;
	    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	    padding: 10px 20px;
	}

	.titleContentModal {}

	.textSubject {}

	.textContent {}

	.imgContent {
		width: 100%;
		position: relative;
	}

		.imgContent img {width: 100%;}

		.imgContent p {
			position: absolute;
			bottom: 50px;
			left: 0;
			font-size: 35px;
			letter-spacing: 1px;
			color: #e8b09d;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
			text-align: center;
		}

	.imgContent_01 {}

	.textContent_01 {}

	.imgContent_02 {}

	.textContent_02 {}

	.imgContent_03 {}

	.textContent_03 {}

	.imgContent_04 {}

	.textContent_04 {}