

.video_content_area {
	margin-right: -330px;
	margin-left: 10px;
    float: left;
    width: calc(100% - 330px);
}

.container-movie-list {}

	.header-list {
		border-bottom: 1px solid grey;
		margin-bottom: 30px;
		margin-top: 50px;
		padding-bottom: 5px;
	}

		.title-list a {
			color: #dacb46;
		    text-shadow: 1px 1px 1px #1a1a1a;
		    display: inline-block;
		    font: 30px/40px 'UTMCafetaRegular';
		    text-transform: uppercase;
		    font-family: "Francois One", Anton;
		    margin-left: 1%;
		    float: left;
		    text-decoration: none;
		}

		a.more-list {
			padding-top: 16px;
			float: right;
			margin-right: 2%;
		}

		.header-list::before , .header-list::after {
			content: "";
	    	display: table;
	    	clear: both;
		}



	.film-list {}

		.video_cards {
			padding: 0 !important;
			border: none !important;
		}

		.video_carsFloat {
			padding-left: 5px;
		}

		.film-time {
			padding-right: 10px;
		}

		.film-view {
			padding-left: 10px;
		}

.video_containerSortBook {
	margin-top: 20px;
	border-bottom: none;
	background-color: #dfb373;
	border-radius: 6px;
	height: 50px;	
}

	.video_sortBook {
		padding-top: 14px;
		font-family: "Francois One", Anton;
		padding-right: 3%;
		padding-left: 3%;
	}

	.video_sortBook01 {
		padding-top: 12px;
		font-family: "Francois One", Anton;
	}

	.video_sortBook a:hover {
		border-bottom: none;
	}




















