

.bagBlog {
	max-width: 1370px;
    margin: 0 auto;
}

.carousel-inner {
	width: 100%;
	margin: auto;
}

.child-site-content {
	max-width: 1370px;
    padding: 0px 60px;
	margin: auto;
}

.carousel-item {
	border: 1px solid black !important;
	-webkit-transition: all 2s ease !important;
	   -moz-transition: all 2s ease !important;
	    -ms-transition: all 2s ease !important;
	     -o-transition: all 2s ease !important;
	        transition: all 2s ease !important;
}

    .contentCarousel {
    	height: 300px;
    	float: left;
        position: relative;
    }

        .contentCarousel img {
            width: 100%;
            height: 100%;
        }

        .contentCarousel .imgText {
            padding: 60px 20px 20px;
            position: absolute;
            bottom: 20px;
            left: 0px;
            right: 0px;
            font-size: 28px;
            color: white;
            font-family: "Francois One", Anton;
            text-shadow: 2px 2px #000000;
        }

        .contentCarousel .contentImg {
            display: none;
            width: 100%;
            font-size: 16px;
            line-height: 30px;
            font-family: "Francois One", Anton;
            letter-spacing: 1px;
            color: #fff;
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            padding: 60px 20px 20px;
            background: -webkit-linear-gradient(rgba(30,87,153,0) 0%, rgba(0,0,0,0.75) 40%, rgba(0,0,0,0.78) 100%);
            background: -o-linear-gradient(rgba(30,87,153,0) 0%, rgba(0,0,0,0.75) 40%, rgba(0,0,0,0.78) 100%);
            background: linear-gradient(rgba(30,87,153,0) 0%, rgba(0,0,0,0.75) 40%, rgba(0,0,0,0.78) 100%);
        }

    .content01 {
    	background-color: blue;
    	width: 50%;
    	border-right: 1px solid white;
    	border-bottom: 1px solid white;
    }



    .content02 {
    	background-color: red;
    	width: 50%;
    	border-left: 1px solid white;
    	border-bottom: 1px solid white;
    }

    .content03 {
    	background-color: green;
    	width: 33.333333%;
    	border-right: 1px solid white;
    	border-top: 1px solid white;
    }

    .content04 {
    	background-color: yellow;
    	width: 33.333333%;
    	border-right: 1px solid white;
    	border-top: 1px solid white;
    	border-left: 1px solid white; 
    }

    .content05 {
    	background-color: gray;
    	width: 33.333333%;
    	border-left: 1px solid white;
    	border-top: 1px solid white;
    }

.containerContentBlog_02 {
	border: 1px solid red;
	margin-top: 50px;
	overflow: auto;
	width: 100%;
    position: relative;
}

    .cardContent {
        width: 23.5%;
        height: auto;
        float: left;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    /*.cardContent:after, .cardContent:before {
        clear: left;
    }*/
    
    .imagecardContent img {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s ease;
           -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
             -o-transition: all .4s ease;
                transition: all .4s ease;
    }

    .imagecardContent img:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2); 
    }

    .imagecardContent {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .imagecardContent:hover {
    }



    .cardContent:nth-child(4n+1) {
        /*margin-left: 0px;
        margin-right: 1%;*/
        /*position: absolute;*/
        left: 0;

        /*float: left;*/
    }

    .cardContent:nth-child(4n+2) {
        /*position: absolute;*/
        left: 25.5%;
    }

     .cardContent:nth-child(4n+3) {
        /*margin-left: 1%;
        margin-right: 1%;*/
        /*position: absolute;*/
        left: 51%;
    }

    .cardContent:nth-child(4n+4) {
        /*margin-left: 1%;
        margin-right: 0px;
        float: right !important;*/
        /*position: absolute;*/
        left: 76.5%;
    }

        .titleCardContent {}

        .textCardContent {}

        .blog_cardFloat {
            background-color: white;
            padding-top: 10px;
            padding-bottom: 10px;
            height: auto ; 
            border-radius: 0px 0px 6px 6px;
            padding-left: 10px;
            padding-right: 10px;
       }

       .blog_card_text {font-size: 20px;}

       .blog_card_text:hover {
            color: #ca27b1 !important;
            cursor: pointer !important;
       }

       .blog_author {font-size: 15px;}

    .cardContent_01 {}

    .cardContent_02 {}

    .cardContent_03 {}








.carousel-control-next, .carousel-control-prev {
    width: 2% !important;
}

.infoGame {
            width: calc(100% - 700px);
            height: 400px;
            float: left;
            margin-top: 15px;
            position: absolute;
            right: 30px;
        }

            .info {
                width: 100%;
                height: 100%;
                display: none;
            }

            .infoGame01 {display: block;}
            .infoGame02 {}
            .infoGame03 {}
            .infoGame04 {}

                .nameGame {
                    width: 100%;
                    height: 15%;
                    text-align: center;
                    border-radius: 10px;
                    background: #c1603d;
                    color: white;
    				line-height: 1.1;
   					border-bottom: 5px solid transparent;
   					text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
   					font-family: "Francois One", Anton;
                    margin-bottom: 20px;
                }

                    div.nameGame h1 {
                        font-size: 45px;
                        padding-top: 4px;
                    }

                .contentGame {
                    margin-top: 5px;
                    border: 1px solid blue;
                    width: 100%;
                    height: calc(85% - 10px);
                    text-align: center;
                    border-radius: 10px;
                    position: relative;
                }

                    .contentGame p {
                        color: #96847d;
                        font-size: 30px;
                        margin-bottom: 10px;
                        text-align: center;
                        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
                        font-family: "Francois One", Anton;
                        line-height: 1.1;
                        height: 50%;
                    }

                    a.start {
                        display: block;
                        width: 20%;
                        height: 15%;
                        background: #c1603d;
                        cursor: pointer;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 100px;
                        text-decoration: none;
                        border-radius: 10px;
                        border-bottom: 5px solid transparent;
                        border-color: #b25736;
                        padding-top: 6px;
                    }

                    a.start:hover {
                        color: white;
                        background-color: #753721;
					    text-decoration: none;
					    border-color: #8e3d20;
                    }

                        a.start p{
                            color: white;
                            font-size: 30px;
                            margin-bottom: 10px;
                            text-align: center;
                            text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
   							font-family: "Francois One", Anton;
   							line-height: 1.1;
                        }












