@media (max-width: 1440px) and (min-width: 1024px){
    .top_bar .container nav a.navbar-brand {
        margin-right: 150px;
    }
    .top_bar .container nav div.collapse ul.navbar-nav li.nav-item a.nav-link {
        padding: 10px 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        font-style: normal;
    }
    .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 768px){
    .top_bar .container nav a.navbar-brand {
        margin-right: 0px;
    }
    .top_bar .container nav div.collapse ul.navbar-nav li.nav-item a.nav-link {
        padding: 10px 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        font-style: normal;
    }
    .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 576px){
    .top_bar .container nav a.navbar-brand {
        margin-right: 16px;
    }
    .mr-auto, .mx-auto {
        margin-right: auto!important;
        text-align: center;
    }
    .top_bar .container nav div.collapse ul.navbar-nav li.nav-item a.nav-link {
        padding: 8px 0px;
        font-size: 16px;
        line-height: 1.5;
    }
}