* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.site {
  width: 100%;
  background-image: url("https://i.imgur.com/B4wWdTz.png");
  background: #86961f no-repeat center 0;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 2px; }

img {
  width: 100%; }

.header {
  max-width: 1370px; }

.topHeader {
  padding: 15px 0 20px;
  display: table;
  width: 100%; }
  .topHeader div {
    vertical-align: middle; }
  .topHeader .topHeader__logo {
    width: 370px;
    display: table-cell; }
  .topHeader .topHeader__title {
    display: table-cell;
    text-align: center;
    color: #ca27b1;
    font-family: "Francois One", Anton;
    font-size: 28px; }
  .topHeader .topHeader__menuToggle {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: 0;
    outline: 0;
    text-indent: -99999px;
    cursor: pointer; }
    .topHeader .topHeader__menuToggle .bar1, .topHeader .topHeader__menuToggle .bar2, .topHeader .topHeader__menuToggle .bar3 {
      width: 35px;
      height: 5px;
      background-color: #e645d2;
      margin: 6px 0;
      transition: 0.5s;
      border-radius: 10px; }
  .topHeader .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  .topHeader .change .bar2 {
    opacity: 0; }
  .topHeader .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }

.navHeader {
  overflow: hidden;
  margin-bottom: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }
  .navHeader .navBar {
    background: #e28f71;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
    .navHeader .navBar ul.navBar__menu {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none; }
      .navHeader .navBar ul.navBar__menu li.navBar__menu-item {
        font-family: "Francois One", Anton;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        text-align: center; }
        .navHeader .navBar ul.navBar__menu li.navBar__menu-item a {
          display: block;
          padding: 22px 20px;
          line-height: 1.1;
          border-bottom: 5px solid transparent;
          height: 100%;
          color: inherit;
          background: #c1603d;
          border-color: #b25736; }
          .navHeader .navBar ul.navBar__menu li.navBar__menu-item a:hover {
            background-color: #753721;
            text-decoration: none;
            border-color: #8e3d20; }
    .navHeader .navBar .navBar__search {
      display: block;
      padding: 10px;
      background: #e28f71;
      flex: 1;
      align-self: stretch;
      border-bottom: 5px solid #c87d61; }
      .navHeader .navBar .navBar__search .navBar__search-form {
        border-color: #fbac8f;
        width: 260px;
        float: right;
        position: relative;
        clear: both;
        color: #78412e; }
        .navHeader .navBar .navBar__search .navBar__search-form .navBar__search-input {
          display: block;
          width: 100%;
          padding: 10px 40px 10px 15px;
          background: transparent;
          outline: 0;
          border: 0;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
          border-radius: 6px;
          -webkit-transition: all 200ms ease-in-out;
          -moz-transition: all 200ms ease-in-out;
          -ms-transition: all 200ms ease-in-out;
          -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
          border-width: 3px 0 0 0;
          border-style: inset;
          border-color: #e6e6e6;
          background: #fff;
          color: inherit; }
        .navHeader .navBar .navBar__search .navBar__search-form .navBar__search-submit {
          cursor: pointer;
          padding: 0 10px;
          width: 30px;
          cursor: pointer;
          background: url("./image/ico_search_svg.svg") no-repeat center center;
          background-size: 18px auto;
          border: 0;
          font-size: 20px;
          line-height: 1;
          color: inherit;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none;
          outline: 0;
          position: absolute;
          top: 3px;
          right: 0;
          bottom: 0;
          text-indent: -99999px; }
  .navHeader .navBar-widgets {
    display: none; }

.loginForm {
  max-width: 1340px;
  background-image: url(https://i.imgur.com/9V2rvbb.png);
  background-color: #86961f;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-color: white;
  padding-top: 0;
  padding-bottom: 380px;
  position: relative; }
  .loginForm .login {
    width: 100%;
    height: 500px;
    position: relative; }
    .loginForm .login h1 {
      position: absolute;
      top: 46%;
      left: 44%;
      font-family: "Francois One", Anton;
      font-size: 23px;
      color: #000;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
      text-align: center; }
    .loginForm .login .input01 {
      border: none;
      font-size: 20px;
      background-color: #ffffff00;
      outline: none;
      position: absolute;
      top: 68%;
      left: 44%;
      margin-bottom: 100px; }
    .loginForm .login .input02 {
      border: none;
      font-size: 20px;
      background-color: #ffffff00;
      outline: none;
      position: absolute;
      top: 86%;
      left: 44%;
      margin-bottom: 100px; }
  .loginForm .selectLogin {
    width: 255px;
    height: 40px;
    position: absolute;
    top: 59%;
    left: 41%; }
    .loginForm .selectLogin .loginregister {
      background-color: #c1603d;
      width: 49%;
      height: 100%;
      float: left;
      border-radius: 10px;
      font-family: "Francois One", Anton;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
      text-align: center;
      padding-top: 7px; }
    .loginForm .selectLogin .register {
      margin-left: 2%; }
  .loginForm p {
    font-family: "Francois One", Anton;
    font-size: 20px;
    color: red;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    position: absolute;
    top: 70%;
    left: 46%; }

.content {
  width: 23.5%;
  margin: 15px 0.7%;
  border: 1px solid #00000021;
  padding: 15px;
  position: relative; }
  .content p {
    padding-bottom: 20px; }
  .content .btn-group {
    position: absolute;
    bottom: 0;
    left: 0; }

@media only screen and (min-width: 1201px) {
  .navHeader {
    display: block !important; } }
@media only screen and (max-width: 479px) {
  .menuToggle {
    width: 30px; } }
@media only screen and (max-width: 1024px) {
  .site {
    width: 100%;
    background: none; }

  .topHeader {
    display: block;
    width: auto;
    padding: 10px 15px 10px 55px;
    position: relative; }
    .topHeader .topHeader__logo {
      max-width: 280px;
      padding-left: 20px; }
    .topHeader .topHeader__title {
      display: none; }
    .topHeader .topHeader__menuToggle {
      display: block;
      position: absolute;
      left: 15px;
      top: 45%;
      margin-top: -14px; }

  .navHeader {
    display: block;
    width: 100%; }
    .navHeader .navBar {
      display: block;
      width: 100%; }
      .navHeader .navBar ul.navBar__menu {
        display: block; }
      .navHeader .navBar div.navBar__search {
        display: block; }
        .navHeader .navBar div.navBar__search .navBar__search-form {
          float: none;
          width: auto; } }
@media (max-width: 786px) {
  .content {
    width: 31.33333%; } }
@media (max-width: 425px) {
  .content {
    width: 47%; } }

/*# sourceMappingURL=style.css.map */
